/*Hanna Salopaasi
+358405128662
hanna.salopaasi@gmail.com
*/

#myCanvas{
	position: absolute;
	left: 0px;
	top: 0px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0;
	overflow: hidden; /*  Disable scrollbars */
	display: block;  /* No floating content on sides */
}